  <!-- Adiciona o CSS do Bootstrap -->

  <div class="container">
    <h1>Job List</h1>
    <table class="table table-hover" id="orders-table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Go To Mr</th>
          <th scope="col">Commented</th>
          <th scope="col">Status</th>
          <th scope="col">Errors</th>
          <th scope="col">Operations</th>
        </tr>
      </thead>
      <tbody>
        {{#each jobs}}
        <tr class="{{ statusClass this.status }}">
          <th scope="row">{{this.jobId}}</th>
          <td><a href="#" onclick="goTo(this.id)" id="{{this.jobId}}">{{ this.mrId }}</a></td>
          <td class="align-middle">
            <div class="form-check form-switch"><input class="form-check-input" type="checkbox" name="commented"
                value="{{ this.commented }}" disabled {{#if this.commented}} checked {{/if}}></div>
          </td>
          <td>{{ this.status }}</td>
          <td>{{ this.description }}</td>
          <td>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button class="btn btn-primary" value="{{ this.jobId }}" onclick="retry(this.value)">Retry</button>
              <button class="btn btn-danger" value="{{ this.jobId }}" onclick="cancel(this.value)">Cancel</button>
            </div>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <!-- Adiciona os scripts do Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>

  <script>
    const socket = io();

    socket.on('connect', () => {
        socket.emit('connected');
    });

    socket.on('job-updated', () => {
      location.reload();
    })

    socket.on('disconnect', () => {
        console.error('Ops, something went wrong');
    });

    function goTo(e) {
      let fetchData = {
        method: 'GET',
        headers: new Headers({
          'Content-Type': 'application/json; charset=UTF-8'
        })
      }

      fetch(`/jobs/goto/${e}`, fetchData)
        .then((response) => {
          response.text().then(e =>
            window.open(e, '_blank'));
        })

    }

    function retry(e) {
      let fetchData = {
        method: 'POST',
        headers: new Headers({
          'Content-Type': 'application/json; charset=UTF-8'
        })
      }

      fetch(`/jobs/retry/${e}`, fetchData)
        .then((response) => {
          //return response.json();
        })
    }

    function cancel(e) {
      let token = getCookie('user_token');
      let fetchData = {
        method: 'POST',
        headers: new Headers({
          'Content-Type': 'application/json; charset=UTF-8',
          Authorization: `Bearer ${token}`
        }),
      }

      fetch(`/jobs/cancel/${e}`, fetchData)
        .then((res) => res.redirected && ( location.href = res.url ))
        .catch(error => re)
    }

    function getCookie(cname) {
      const cookies = document.cookie.split('; ');
      const cookieMap = {};
      cookies.forEach(cookie => {
          const [name, value] = cookie.split('=');
          cookieMap[name] = value;
      });
      return cookieMap[cname];
    }


  </script>

